{% extends 'news/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/guides.css' %}">
{% endblock %}

{% block content %}
<main>
    <div class="guides-serching">
        <h1 style="color: white; font-size: 24px">ТРЕК ГАЙДЫ</h1>
    </div>

    <div class="filter-menu">
        <menu class="filter">
            <form action="{% url 'guides-list' %}" method="get">
                {% csrf_token %}
                <form action="/guides/">
                    <label for="trackName__name__icontains">Трэк</label>
                    {{form.trackName__name__icontains}}

                    <label for="carName__name__icontains">Машина</label>
                    {{form.carName__name__icontains}}
                    <input type="submit" value="Применить">
                </form>
                
            </form>
        </menu>
    </div>
    {% for guide in guides %}
    <div class="container">
        <div class="guide-preview">
            <div class="guide-title">
                <h3>{{ guide.trackName.name }} на {{guide.carName.name}} за {{guide.time}}</h3>
            </div>
            <div class="images">
                <img src="{{guide.trackName.image.url}}" alt="" width="150px" height="150px">
                <img src="{{guide.carName.image.url}}" alt="" width="250px" height="150px">
            </div>
            <form action="{% url 'guide' guide.id %}">
                <input class="view-guide" type="submit" value="Подробнее">
            </form>
        </div>
    </div>
    {% endfor %}

</main>

{% endblock %}