{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</head>
<body style="background-color: rgb(41, 41, 40);">
    <header style="background-color: rgb(46, 47, 45);">
        <div class="menu">
            <ul class="menu-list">
                <li class="menu-item">
                    <a style="text-decoration: none;" href="{% url 'news' %}">Главная</a>
                </li>
                <li class="menu-item">
                    <a href="{% url 'guides-list' %}">Гайды</a>
                </li>
                <li class="menu-item">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'user:community_setups' %}">Сетапы сообщества</a>
                    {% else %}
                        <a href="{% url 'user:login' %}">Сетапы сообщества</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="logo">
            <h1>Logo</h1>
        </div>
        <div class="user-menu">
            <ul class="user-list">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li class="menu-item-user">
                        <a class="link" href="{% url 'admin:index' %}">Админка</a>
                    </li>
                    {% else %}
                    <li class="menu-item-user">
                        <a class="link" href="{% url 'user:my-setups' %}">Мои сетапы</a>
                    </li>
                    <li class="menu-item-user">
                        <a class="link" href="{% url 'user:profile' user.id %}">Мой аккаунт</a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="menu-item-user">
                    <a class="link" href="{% url 'user:login' %}">Вход</a>
                </li>
                <li class="menu-item-user">
                    <a href="{% url 'user:register' %}">Регистрация</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </header>
    {% block content %} {% endblock %}
</body>
</html>