{% extends 'news/base.html' %}

{% load cache %}

{% block content %}
<main>

    <div class="profile-menu">
        <ul>
            <li class="profile-menu-item">
                <a href="{% url 'user:favorites' user.id %}" class="profile-menu-item-a">Избранное</a>
            </li>
            <li class="profile-menu-item">
                <a href="{% url 'user:edit-account' user.id %}" class="profile-menu-item-a">Детали профиля</a>
            </li>
            <li class="profile-menu-item">
                <a href="{% url 'user:password_change' user.id %}" class="profile-menu-item-a">Изменение пароля</a>
            </li>
            <li>
                <form action="{% url 'user:logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" value="Выйти" class="logout-button">Выйти</button>
                </form>
            </li>
        </ul>
    </div>

</main>
{% block profile-content %}{% endblock %}
{% endblock %}