{% extends 'user/my_account.html' %}

{% block profile-content %}
    <div class="change-password">
        <form action="{% url 'user:password_change' user.id %}" method="POST">
            {% csrf_token %}
            <div class="edit-form-part">
                <p>
                    <label for="id_new_password1">Новый пароль</label>
                    {{form.new_password1}}
                </p>
            </div>
            <div class="edit-form-part">
                <p>
                    <label for="id_new_password2">Повторите новый пароль</label>
                    {{form.new_password2}}
                </p>
            </div>
            <div class="submit-b">
                <input type="submit" value="Подтвердить">
            </div>
        </form>
    </div>
{% endblock %}