{% extends 'guides/guide.html' %}

{% load static %}

{% block guide-info %}
    <div class="setup-page">
        <div class="setup-info">
            <div class="main-title">
                <h2 style="color: #fff;">{{guide.trackName}} {{guide.carName}} Настройка</h2>
            </div>
            <div class="car-track-time">
                <div class="setup-part-title">
                    <div class="img">
                        <img width="50" height="50" src="https://img.icons8.com/ios/50/car--v1.png" alt="car--v1"/>
                    </div>
                    <div class="car" style="margin-left: 10px">
                        <h4>{{guide.carName}}</h4>
                    </div>
                </div>
                <div class="setup-part-title" style="margin-left: 45px;">
                    <div class="img">
                        <img width="64" height="64" src="https://img.icons8.com/external-kmg-design-detailed-outline-kmg-design/64/external-running-track-running-kmg-design-detailed-outline-kmg-design.png" alt="external-running-track-running-kmg-design-detailed-outline-kmg-design"/>
                    </div>
                    <div class="track" style="margin-left: 10px">
                        <h4>{{guide.trackName}}</h4>
                    </div>
                </div>
                <div class="setup-part-title" style="margin-left: 75px;">
                    <div class="img">
                        <img src="https://img.icons8.com/ios/50/stopwatch.png" alt="stopwatch"/>
                    </div>
                    <div class="pass-time" style="margin-left: 10px">
                        <h4>{{guide.pass_time}}</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="setup-part-title">
                    <div class="img-view">
                        <img width="25" height="25" src="https://img.icons8.com/ios-filled/50/000000/motorbike-helmet.png" alt="motorbike-helmet"/>
                    </div>
                    <div class="username" style="margin-left: 10px">
                        <h4>Настройка от: {{guide.userId.username}}</h4>
                    </div>
                </div>
                <div class="users-rating">
                    <div class="likes-count">
                        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/thumb-up.png" alt="thumb-up"/>
                        {{guide.likes}}
                    </div>
                    <div class="dislikes-count">
                        <img width="24" height="24" src="https://img.icons8.com/material-rounded/24/thumbs-down.png" alt="thumbs-down"/>
                        {{guide.dislikes}}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="rate-setup">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <form action="{% url 'user:userSetupInfo' guide.id %}" method="POST">
                {% csrf_token %}
                <button class="fa fa-solid fa-3x fa-green fa-thumbs-up rate-button-like" name="like"></button>
                <button class="fa fa-solid fa-3x fa-thumbs-down rate-button-dis" name="dislike"></button> 
            </form>
        </div>
    </div>
{% endblock %}

{% block video %}
<p></p>
{% endblock %}